#### Taken from: https://github.com/github/gitignore/blob/master/Python.gitignore
#################################################################################

*.tar.gz

# Jupyter Notebook
.ipynb_checkpoints

#### Remove stuff from above as needed ####
###########################################
####     Add stuf below as needed      ####
